<% include ./partials/header.ejs %>

  <!-- Content goes here --> 

  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>

        <a class="btn btn-primary" href="/favourite-things" role="button">See Favourite Things</a>
      
    </div>
  </div>

<% include ./partials/footer.ejs %>